body {
    background: #000;
    text-align: center;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
}

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game .left-container,
.game .right-container {
    display: inline-block;
    width: auto;
    flex: 1;
    padding: 20px;
    min-width: 120px;
}

.game .left-container {
    text-align: right;
}

.game .right-container {
    text-align: left;
}

.game .side-widget {
    font-size: 20px;
}

.game .side-widget.line-counter .number {
    letter-spacing: 4px;
}

.game .side-widget.line-counter .number.leading-zero {
    opacity: 0.3;
}

.tetris-board {
    display: inline=block;
    border: solid 3px #499fe3;
    width: 300px;
    height: 600px;
    margin: 5% auto;
    max-width: 400px;
    padding: 1px;
    border-top-width: 0;
}

.tetris-board, .tetris-board:focus, .tetris-board:active {
    outline: none;
}

.tetris-board .row {
    display: block;
    margin: 0;
    width: 100%;
    line-height: 0;
}

.tetris-board .row .block {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-size: 100%;
    padding: 1px;
    box-sizing: border-box;
}

.tetris-board .row .block.fill .decorator {
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: solid 2px #499fe3;
    border-radius: 5px;
    box-shadow: inset 0 0 4px 3px #0a518a;
}

.tetris-board .row .block.falling .decorator {
    background: #499fe3;
    box-shadow: inset 0 0 4px 3px #61b9ff;
}

.tetris-board .row .block.ghost {
    opacity: 1;
    padding: 1px;
}

.tetris-board .row .block.ghost .decorator {
    box-shadow: 0 -10px 50px 8px #005aff22;
    border-radius: 0;
    border: none;
    background: #004ef52e;
}

/*
.tetris-board .row .block.l {
    background-image: url(/images/l-block.png);
}

.tetris-board .row .block.j {
    background-image: url(/images/j-block.png);
}

.tetris-board .row .block.o {
    background-image: url(/images/o-block.png);
}

.tetris-board .row .block.i {
    background-image: url(/images/i-block.png);
}

.tetris-board .row .block.s {
    background-image: url(/images/s-block.png);
}

.tetris-board .row .block.s2 {
    background-image: url(/images/s2-block.png);
}

.tetris-board .row .block.t {
    background-image: url(/images/t-block.png);
}
*/

.slide-character {
    overflow: hidden;
    display: inline-block;
    margin: 2px;
    line-height: 30px;
    height: 30px;
    width: 18px;
    text-align: center;
}

.slide-character span {
    display: block;
    position: relative;
    line-height: 30px;
    height: 30px;
    transition: all linear 1s;
}

.slide-character span.transition {
    
}

.slide-character .current-letter {
    top: 0;
}

.slide-character .current-letter.transition {
    top: -100%;
}

.slide-character .next-letter {
    top: 100%;
}

.slide-character .next-letter.transition {
    top: -100%;
}

@import url('https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap');
