body {
    background: #333;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.tetris-board {
    display: block;
    border: solid 15px #c5c5c5;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*width: 25%;*/
    width: 40%;
    min-width: 300px;
    margin: 3% auto;
    max-width: 500px;
    box-shadow: 0 0 100px 10px #eeeeee88;
}

.tetris-board .row {
    display: block;
    margin: 0;
    width: 100%;
}

.tetris-board .row .block {
    display: inline-block;
    width: 10%;
    padding-bottom: 10%;
    background: #222;
    vertical-align: middle;
    background-size: 100%;
}

.tetris-board .row .block.l {
    background-image: url(/images/l-block.png);
}

.tetris-board .row .block.j {
    background-image: url(/images/j-block.png);
}

.tetris-board .row .block.o {
    background-image: url(/images/o-block.png);
}

.tetris-board .row .block.i {
    background-image: url(/images/i-block.png);
}

.tetris-board .row .block.s {
    background-image: url(/images/s-block.png);
}

.tetris-board .row .block.s2 {
    background-image: url(/images/s2-block.png);
}

.tetris-board .row .block.t {
    background-image: url(/images/t-block.png);
}
